
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }


  #timeSlider {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 20px;
  }

  #titleDiv {
    padding: 10px;
    font-weight: 36;
    text-align: center;
  }


  #layerToggle {
    top: 430px;
    right: 20px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
  }

  #layerToggleAll {
    top: 73px;
    left: 60px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
  }

  
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  

#titleimg{
  text-align: center;
}

.box {
  margin: 10px;
}

.parallax1 {
  /* The image used */
  background-image: url("../database/img/Parallaximg.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{
  /* The image used */
  background-image: url("../database/img/Parallaximg2.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

